--rules acronyms
--rules andOperator
--rules anyObjectProtocol
--rules blankLinesAtEndOfScope
--rules blankLinesAtStartOfScope
--rules blankLinesBetweenImports
--rules blankLinesBetweenScopes
--rules blockComments
--rules braces
--rules consecutiveBlankLines
--rules consecutiveSpaces
--rules docComments
--rules duplicateImports
--rules elseOnSameLine
--rules emptyBraces
--rules enumNamespaces
--rules extensionAccessControl
--rules fileHeader
--rules genericExtensions
--rules hoistPatternLet
--rules indent
--rules initCoderUnavailable
--rules isEmpty
--rules markTypes
--rules modifierOrder
--rules numberFormatting
--rules opaqueGenericParameters
--rules organizeDeclarations
--rules preferKeyPath
--rules redundantBackticks
--rules redundantBreak
--rules redundantClosure
--rules redundantExtensionACL
--rules redundantFileprivate
--rules redundantGet
--rules redundantInit
--rules redundantLet
--rules redundantNilInit
--rules redundantObjc
--rules redundantParens
--rules redundantPattern
--rules redundantRawValues
--rules redundantSelf
--rules redundantType
--rules redundantVoidReturnType
--rules semicolons
--rules sortDeclarations
--rules sortedImports
--rules sortedSwitchCases
--rules spaceAroundBraces
--rules spaceAroundComments
--rules spaceAroundGenerics
--rules spaceAroundOperators
--rules spaceAroundParens
--rules spaceInsideBraces
--rules spaceInsideBrackets
--rules spaceInsideComments
--rules spaceInsideGenerics
--rules spaceInsideParens
--rules strongifiedSelf
--rules todos
--rules trailingClosures
--rules trailingCommas
--rules trailingSpace
--rules typeSugar
--rules unusedArguments
--rules void
--rules wrap
--rules wrapArguments
--rules wrapAttributes
--rules wrapConditionalBodies
--rules wrapEnumCases
--rules wrapMultilineStatementBraces
--rules wrapSingleLineComments
--rules wrapSwitchCases

--acronyms ID,URL,UUID # acronyms
--closingparen balanced # wrapArguments
--closurevoid remove # redundantVoidReturnType
--commas always # trailingCommas
--decimalgrouping 3,6 # numberFormatting
--emptybraces spaced # emptyBraces
--enumthreshold 30 # organizeDeclarations
--extensionacl on-declarations # extensionAccessControl
--funcattributes prev-line # wrapAttributes
--header strip # fileHeader
--ifdef noindent #indent
--importgrouping testable-bottom # sortedImports
--indent 2 #indent
--indentcase false #indent
--indentstrings true #indent
--lifecycle # organizeDeclarations
--markcategories true #organizeDeclarations
--maxwidth 100 # wrap
--modifierorder public,private(set),private,internal,final,override,convenience # modifierOrder
--operatorfunc spaced # spaceAroundOperators
--organizetypes class,struct,enum,extension,actor # organizeDeclarations
--patternlet inline # hoistPatternLet
--ranges spaced # spaceAroundOperators
--redundanttype infer-locals-only # redundantType
--self init-only # redundantSelf
--structthreshold 30 # organizeDeclarations
--tabwidth 2 # indent
--trimwhitespace always # trailingSpace
--typeattributes prev-line # wrapAttributes
--typeblanklines preserve # blankLinesAtStartOfScope, blankLinesAtEndOfScope
--varattributes same-line # wrapAttributes
--wraparguments before-first # wrapArguments
--wrapcollections before-first # wrapArguments
--wrapconditions before-first # wrapArguments
--wrapparameters before-first # wrapArguments
--wrapreturntype if-multiline # wrapArguments
--wrapternary before-operators # wrapAttributes
--wraptypealiases before-first # wrapArguments
